body{
    font-family: 'Open Sans', sans-serif;
}
/* header section */

.flower{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding-top: 60px;
    padding-left: 70px;
}
.flower-header{
padding-left: 20px;
margin-top: 10px;
margin-right: 30px;
}
#flower-extra-design{
    padding-left: 30px;
    padding-top: 130px;
}
.flower-header-title{
    color: #272727;
font-size: 60px;
font-weight: 800;
}
.flower-header-driscription{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin-bottom: 30px;
}
.btn-primary{
    color: #FFF;
font-size: 16px;
border: 2px #e55473;
border-radius: 8px;
background: #E55473;
padding: 20px 45px;
}

.btn{
    color: tomato;
    font-size: 16px;
    border: 2px rgba(229, 84, 115, 0.10);
    border-radius: 10px;
    background-color: rgba(71, 125, 17, 0.15);
    padding: 17px 40px;
}
#flower-design{
    margin-left: 20px;
}
/* main section styles */

/* dalivary section styles */
.dalivary {
    display: flex;
    /* margin-top: 190px; */
}
.delivary-box{
    margin-top: 130px;
    padding: 60px;
    background-color: whitesmoke;
    margin-right: 20px;
border-radius: 20%;}
.same{
    width: 1140px;
    margin: 0 auto;
}
.our-fatured{
    margin-top: 160px;
}
.flower-box{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.our-fatured-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.our-fatured-discription{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.our-flower p{
    text-align: center;
    
}
#flower_1{
    width: 270px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
#flower_2{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
#flower_3
{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
#flower_2 , #flower_1 , #flower_3{
    height: 400px;
    padding: 30px 30px 0 30px;
}
/* <!-- flower icon box styles--> */
.flower-icon{
    display: flex;
    margin-top: 140px;
    justify-content: space-around;
    padding-top: 60px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;
    
}
.flower-icon-box{
    padding-bottom: 60px;

}
/* hot deal section styles */

.hot-deal{
  
    margin-top: 140px;
    padding: 100px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    background-size: cover;
}
.hot-deal-box{
    text-align: center;
    margin-left: 40px;
    padding-right: 20px;
}
.hot-deal-box img{
    margin-right: 60px;
    padding-right: 30px;
}
#bb{
    margin-top: 100px;
    margin-right: 30px;
}
.deal-text{
    color: #272727;
font-size: 40px;
font-weight: 800;
}
.deal-drs{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
span{
    color: #E55473;
font-size: 40px;
font-weight: 800;

}

/* instragram styles sections */
.Instagram-flower{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.Instagram-flower img{
    width: 277px;
    margin-top: 30px;
}
/* latest deal section */

.subscribe{
    text-align: center;
}
.bg{
    background-image: url("../Flower Asset/Rectangle\ 9.png");
    padding-left: 0;
    padding-right: 0;
    padding-top: 110px;
    padding-bottom: 90px;
    border-radius: 10px;
}
#input{
    padding-inline: 170px;
    padding-block: 20px;
    border: 2px solid whitesmoke;
    border-radius: 7px;
    text-align: start;
    margin-right: 5px;
}
.tt{
    color: white;
}
footer{
    background-color: black;
    padding: 40px;
}
.clr{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 15px;
font-weight: 400;
}
/* .hide{
    display: none;
} */

@media screen and (max-width:576px) {
    .flower{
        flex-direction: column-reverse;
        padding: 10px;
        margin-right: 20px;
        
    }
 
    .flower-header{
        padding: 0px;
        margin: 0;
    }
    #flower-design{
        width: 100%;
        /* margin: 10px; */
    }
    .btn-primary{

    margin-left:55px ;    }
.dalivary{
    margin-left: 20px;
}
 #del ,
  .flower-box ,
  .flower-icon ,
  .hot-deal,
  .Instagram-flower {
    display: flex;
    justify-content: center;
    align-items: center;
        flex-direction: column;
    }
    .delivary-box{
        width: 100%;
        margin-top: 50px;
        margin-left: 190px;
    border-radius: 20%;}
    .same{
        width: 150px;
        margin-right: 20px;
    }
    #input{
        padding-inline: 10px;
        padding-block: 20px;
    }
    
    .our-fatured{
        width: 100%;
        flex-wrap: wrap;
        /* margin-right: 10px; */
        margin-top: 30px;
        /* margin-left: 60px; */
        padding: 20px;
    }
    .flower-icon{
        margin-top: 20px;
        margin-left: 80px;
    }
    .our-fatured-discription, .our-fatured-title{
        margin-left: 50px;
        padding: 0px;
}
.hot-deal{
    padding: 0px;
}
.bg{
    background-image: none;
}
.subscribe input{
    margin-right: 20px;
    margin-top: 10px;

}
footer{
    margin: 0;
}
}
@media screen and (min-width:576px) and (max-width:992px) {
    .flower{
        display: flex;
        background: rgba(229, 84, 115, 0.10);
        padding-top: 40px;
        padding-left: 50px;
    }
    .flower-header{
        padding-left: 20px;
        margin-top: 10px;
        margin-right: 30px;
        }
        #flower-extra-design{
            padding-left: 30px;
            padding-top: 30px;
        }
        .flower-header-title{
            color: #272727;
        font-size: 60px;
        font-weight: 800;
        }
        .flower-header-driscription{
            color: rgba(39, 39, 39, 0.60);
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 30px;
        }
       

}
